@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.cafeCardDetail
{
    align-items: center;
    width: 27rem;
    border: 0.1rem solid black;
    height: 20rem;
    background-color:  #E0BBBB;
    margin-left: 10rem;
}

.cafeImage
{
    display: flex;
    margin-left: auto;
    margin-right: 7.5rem;
    width: 10rem;
    height: 10rem;
    padding-bottom: 1rem;
}
.nombreCafe
{
    font-family: 'Inter';
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 1.6rem;
}

.notas
{
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 1rem; 
    line-height: 0.1rem;
}

.altura
{
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 1rem;
}